$fa-font-path: '../node_modules/@fortawesome/fontawesome-free/webfonts';
@import "../node_modules/@fortawesome/fontawesome-free/scss/fontawesome.scss";
@import "../node_modules/@fortawesome/fontawesome-free/scss/solid.scss";


.gbgi-sidebar {

    button.fullwidth {
        width: 100%;
    }

    .pholder {
        color: rgb(152, 150, 150);
        margin: 40px;
        text-align: center;
    }

    .search-area {

        .controls {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: stretch;

            .search-input {
                flex: 1
            }

        }

        .loading-spinner {
            width: 100%;
            margin: 20px 0 5px 0;
            text-align: center;
        }

        .results {
            li {
                cursor: pointer;
            }
        }

        .loading-spinner {
            @include fa-icon();
            @extend .fas;
            @extend .fa-2x;
            @extend .fa-cog;
            @extend .fa-spin;
        }

    }

}

.gbgi-plugin-toolbar-button {
    @include fa-icon();
    @extend .fas;
    @extend .fa-lg;
    @extend .fa-gamepad;
}