.wp-block-gbgi-gbgi-block {

    &.editor {

        .searching {
            text-align: center;
        }
    
        .components-placeholder {
            min-height: 125px;
        }
    
        .search-area {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
    
            input {
                flex: 1;
                margin-right: 5px;
            }
    
        }
    
        .results {
            a {
                cursor: pointer;
            }
        }

    }

}